//COLOR
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-formBg-light: rgb(242, 209, 132);
$color-formBg-dark: rgb(95, 120, 149);
$color-formBorder: rgb(244, 14, 101);
$color-homeBg: rgb(180, 157, 166);
$color-text-header: rgb(145,108,35);

//CHATBAR
$color-chatbarBg: rgb(249, 245, 235);
$color-chatbarUser: rgb(169, 160, 179);

//CHATBODY
$color-charbodyNavBtn: rgb(209, 81, 45);
$color-chatbodySender: rgb(194, 243, 194);

//CHATFOOTER
$colo-chatfooterSend: rgb(0, 128, 0);