//COLOR
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-formBg-light: #ACC9D7;
$color-formBg-dark: #5F7895;
$color-formBorder: rgb(244, 14, 101);
$color-homeBg: rgb(180, 157, 166);
$color-blue: #ED4D6E;