//COLOR
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-formBg-light: rgb(254,203,73);
$color-formBg-dark: rgb(255,86,0);
$color-formBorder: rgb(244, 14, 101);
$color-homeBg: rgb(180, 157, 166);
$color-blue: rgb(15, 10, 222);